@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    font-family: "Inter", sans-serif;
}
/* shared styles */
.hide{
    display: none;
}
.bg-light{
    background-image:linear-gradient(180.00deg, rgb(44, 43, 43), rgb(15, 12, 12) 100%);
}
.display-flex{
    display: flex;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
    color: tomato;
}
.btn{
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: tomato;
}
body{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
.nav-bar,
.banner-container,
.habit-container,
.run-mile-trunk,
.meet-our-team-box,
.bmi-calculator-container,
.agility-card-container
{
    width: 80%;
    margin: 0 auto 80px;
}
.btn-primary{
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 39px;
    border: none;
    padding: 10px 30px;
    background-color: tomato;
    color: white;
}
.download-btn{
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 39px;
    border: 1px solid white;
    padding: 10px 30px;
    background-color: rgb(27, 26, 26);
    color: white;
    margin-left: 9px;
}
.dark-1{
    font-size: 0.9rem;
    color: rgb(117, 116, 116);
}
.section-title{
    font-size: 2.7rem;
    font-weight: 800;
    color: white;
}
.section-description{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
    color: rgb(117, 116, 116);
}
section{
    margin-bottom: 80px;
}
/* shared style ends here */

/* navbar related styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
.nav-item{
    list-style: none;
    margin-left: 5px;
    margin-right: 25px;
    padding: 5px 1px 5px 1px;
}
.nav-links{
    align-items: center;
    padding: 3px;
    border: 1px solid rgb(78, 76, 76);
    border-radius: 20px;

}
.nav-link{
    text-decoration: none;
    color: white;
}
.hamburger-menu{
    color: white;
    font-size: 2rem;
    display: none;
}
/* nav related style ends here */

/* banner section related styles */

.banner-content, .banner-image{
    width: 50%;
    justify-content: center;
}
.banner-title{
    font-size: 4.5rem;
    font-weight: 800;
    color: white;
    padding:7px;

}
.text-primary{

    font-family: 'Miama', sans-serif;
    line-height: 80px;
    font-size: 9rem;
    font-weight: 500;

}
.banner-description{
    line-height: 25px;
    font-weight: 500;
    color: rgb(117, 116, 116);
    margin-bottom: 37px;
}
.banner-image{
    text-align: right;
    position: relative;

}
.free-videos{
    background: rgba(255, 255, 255, 0.1);

    /* opacity: 10000%; */

    text-align: left;
    width: 27%;
    height: 10%;
    padding: 20px;
    border-radius: 12px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 400px;
    margin-top: -450px;
}
.free-videos-title{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1px;
    margin-bottom: 0px;

}
.free-videos-description{
    margin-top: 2px;
    margin-bottom: 6px;
}
.video-tutorial-container{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);

    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    width: 27%;
    height: 8%;
    padding: 20px;
    position: absolute;
    margin-top: -160px;
    margin-left: 90px;
}
.circle{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: tomato;
}
/* banner section related styles ends here */

/* main related styles starts here */

/* habit section related styles starts here */
.habit-content{
    width: 55%;
    margin: 70px auto 30px;
    text-align: center;
}
.habit-img-container{
    text-align: center;
    margin-top: 53px;
}
.img-card img{
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(65, 63, 63);
}
.img-card-title{
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0;

}
.img-card-description{
    margin-top: 5px;
    font-size: 1rem;
    
}
/* habit section related styles ends here */

/* run-extra-mile related styles starts here */
.run-extra-mile-container{
    padding: 28px;
    border-radius: 19px;
    background-color: rgb(37, 36, 36);

} 
.run-extra-mile-content{
    width: 50%;
    text-align: left;
    padding: 10px;
}
.run-extra-mile-img{
    width: 50%;
    text-align: right;
}
.run-extra-mile-img img{
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.run-extra-mile-content> h1{
    margin-top: 0%;
    font-size: 2.8rem;
    margin-bottom: 10px;
    line-height: 60px;
}
.run-extra-mile-description{
    font-size: 0.9rem;
    line-height: 23px;
    margin-bottom: 37px;
    color: gray;

}
.run-extra-mile-btn{
    margin-bottom: 0px;
    padding: 15px 70px;
}
/* run-extra-mile related styles ends here*/

/* agility card section starts here */
.agility-content{
    width: 100%;
    background-color:  rgb(37, 36, 36);
    

}
.agility-card-container{
    border-radius: 10px;
    padding-top: 25px ;
    padding-bottom: 25px;
    gap: 7px;
    
}
.agility-card-1{
    width: 50%;
    background-color: #FD6E0A;
    /* background-color:rgb(37, 36, 36); */
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    border-radius: 20px;
}
.agility-card-1-title{
    margin-top: 10px;
    margin-bottom: 2px;
}
.agility-card-1-img{
    justify-content: space-between;
    align-items: end;

}
.agility-card-1-img>img{
    height: 250px;
    width: 60%;
    border: 4px solid rgb(58, 56, 56);
    border-radius: 20px ;
}

.agility-btn{
    background-color: white;
    color: black;
    border: 2px solid rgb(43, 40, 40);
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 800;
    
}
.agility-card-2{
    width: 50%;
    gap: 8px;
    
}
.agility-card-2-1{
background-color: rgb(211, 209, 209);
width: 50%;
padding: 20px;
flex-direction: column;
justify-content: space-between;
border-radius: 20px;

}
.agility-card-2-1-img> img{
    height:200px ;
    width: 100%;
    margin-left: 18px;
    margin-top: 0px;
    border-radius: 17px;
}
.agility-card-2-1-text{
    text-align:left;
    margin-bottom: 0px;
    
}
.agility-card-2-1-title{
    margin-bottom: 2px;
    font-size: 1.4rem;
}
.agility-card-2-2{
background-color: rgb(211, 209, 209);
width: 50%;
border-radius: 20px;
padding: 20px;
flex-direction: column;
justify-content: space-between;
}
.agility-card-2-2-title{
    margin-bottom: 2px;
    font-size: 1.4rem;
    margin-top: 5px;
}




/* agility card section ends here  */

/* bmi calculator section starts here */
.bmi-content{
    width: 45%;
    text-align: left;
    line-height: 27px;
}
.bmi-calculator-section{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(37, 36, 36);
}
.bmi-calculator-container{
    align-items: center;
    padding: 40px;
}
.bmi-chart-container{
    width: 50%;
    height: 100%;
    margin-bottom: 83px;
}
table{
    border-collapse: collapse;
}
th{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
td{
    color: gray;
    font-size: 0.9rem;
}
td, th{
    border: 1px solid rgb(63, 62, 62);
    padding: 12px 22px;
    text-align: left;
}
.calculate-bmi{
    width: 50%;
    text-align: left;

}
.calculate-bmi-text{
    text-align: left;
    line-height: 23px;
    margin-top: 25px;
}
.calculate-bmi-text-title{
    margin-bottom: 0px;
}
.calculate-bmi-text-description{
    margin-top:0px ;
}
.bmi-chart-title{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 50px;
}
.calculate-bmi-input-field{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}
#box{
    background-color: rgb(65, 63, 63);
    padding: 12px 10px;
    border-radius: 8px;

}
.box-1{
    grid-column: 1/span 6;
}
.box-2{
    grid-column: 7/span 6;
}
.box-3{
     grid-column: 1/span 6;
}
.box-4{
    grid-column: 7/span 6;

}
.box-5{
    grid-column: 1/span 12;
}
input, select{
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    background-color: rgb(65, 63, 63);
    color: gray;
}
.bmi-btn{
    padding: 12px 65px;
    border-radius: 25px;
    margin-top: 35px;
}


/* bmi calculator section  ends here */

/* meet our team related styles starts here */
.meet-our-team-content> h1{
    margin-bottom: 2px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(37, 36, 36);
    margin-top: 60px;
}
.img-1{
    height: 260px;
    width: 328px;
    background-image: url(../images/trainer1.png);
    background-position: center;
    background-size: cover;
    border-radius: 8%;
    background-color: rgb(1, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-2{
    height: 260px;
    width: 328px;
    background-image: url(../images/trainer2.png);
    background-position: center;
    background-size: cover;
    border-radius: 8%;
    background-color: rgb(1, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-3{
    height: 260px;
    width: 328px;
    background-image: url(../images/trainer3.png);
    background-position: center;
    background-size: cover;
    border-radius: 8%;
    background-color: rgb(1, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-4{
    height: 260px;
    width: 328px;
    background-image: url(../images/trainer4.png);
    background-position: center;
    background-size: cover;
    border-radius: 8%;
    background-color: rgb(1, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-5{
    height: 260px;
    width: 328px;
    background-image: url(../images/trainer5.png);
    background-position: center;
    background-size: cover;
    border-radius: 8%;
    background-color: rgb(1, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-6{
    height: 260px;
    width: 328px;
    background-image: url(../images/trainer6.png);
    background-position: center;
    background-size: cover;
    border-radius: 8%;
    background-color: rgb(1, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-brand{
    margin-top: 220px;
    padding-left: 15px;
    line-height: 7px;
    margin-bottom: 0%;
}

/* meet our team related styles ends here */

/* main related styles ends here */

/* footer related styles starts here */
footer{
    background-color: rgb(37, 36, 36);
    margin: 0;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.footer-content{
    width: 50%;

}
.footer-nav{
    width: 50%;
    gap: 150px;
    margin-top: 50px;
}
.footer-title{
    font-size: 4rem;
    color: rgb(221, 70, 15);
    margin-top: 2px;
    margin-bottom: 25px;
}
.footer-description{
    line-height: 23px;
    color: gray;
}
.footer-nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.footer-nav-links{
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;

}
hr{
    width: 80%;
    margin-top: 45px;

}
.hr-content{
    width: 80%;
    margin: 15px auto 0px;
    color: gray;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}

/* footer related styles ends here */




@media screen and (max-width:576px) {
    .nav-links{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
        width: 90%;
        
    }
    .banner-title{
        font-size: 2.7rem;
    }
    .nav-bar,
    .banner-container,
    .habit-container,
    .run-mile-trunk,
    .meet-our-team-box,
    .bmi-calculator-container,
    .agility-card-container
    {
        width: 90%;
        margin: 0 auto 80px;
    }
    .nav-bar{
        margin-bottom: 11px;
    }
    .text-primary{
        font-family: 'Miama', sans-serif;
        line-height: 50px;
        font-size: 5.5rem;
        font-weight: 500;
    
    }
    

}